.align-middle {
  .table-header {
    background-color: #343a40;
    color: #fff;
    border: 1px solid;
  }
}
.table-body {
  .table-content {
    border: 1px solid #dee2e6;
  }
}
.paginationtable {
  .table-btn {
    background-color: #343a40 !important;
    color: #fff !important;
    border-color: #343a40 !important;
  }
}
